.link {
  font-family: 'Roboto Condensed', sans-serif;
  color: #c67d6a;
  font-size: 18px;
  line-height: 32px;
  font-style: normal;
  font-weight: 300;
  text-decoration: underline;
}

.link.intro {
  border-bottom: 1px dotted #333;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  text-decoration: none;
}

.link.intro:hover {
  border-bottom-color: #b1b1b1;
  color: #b1b1b1;
}

.landingbanner {
  height: 700px;
  float: none;
  clear: none;
  background-image: -webkit-linear-gradient(270deg, #f5f5f7, #f5f5f7);
  background-image: linear-gradient(180deg, #f5f5f7, #f5f5f7);
}

.landingbanner.projpage {
  height: 700px;
  background-image: -webkit-linear-gradient(270deg, #f5f5f7, #f5f5f7);
  background-image: linear-gradient(180deg, #f5f5f7, #f5f5f7);
}

.projheading {
  display: block;
  width: 650px;
  margin: 0px auto 5px 0px;
  padding: 10px 0px 20px;
  float: left;
  clear: none;
  border-style: solid;
  border-width: 0px;
  border-color: #e2e2e2 #000 #000;
  font-family: 'Roboto Slab', sans-serif;
  color: #000;
  font-size: 35px;
  line-height: 50px;
  font-weight: 300;
  text-align: left;
  letter-spacing: -0.8px;
  text-transform: none;
}

.projheading.projpage {
  width: 850px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 30px;
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
}

.projheading.projpage.afterlabel {
  width: 760px;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 30px;
  line-height: 40px;
}

.projheading.home {
  padding-top: 0px;
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.landingtext {
  margin-bottom: 0px;
  margin-left: -9px;
  padding: 170px 0px 0px;
  float: left;
  clear: none;
  font-family: 'Roboto Slab', sans-serif;
  color: hsla(0, 3%, 73%, .4);
  font-size: 65px;
  line-height: 75px;
  font-weight: 300;
  text-align: left;
  letter-spacing: -5px;
  text-transform: none;
}

.landingtext.projpage {
  padding-top: 60px;
  padding-bottom: 50px;
  float: left;
  clear: left;
  font-family: 'Roboto Condensed', sans-serif;
  color: hsla(0, 3%, 73%, .4);
  font-size: 87px;
  line-height: 78px;
  font-weight: 400;
  letter-spacing: -6px;
  text-transform: none;
}

.landingtext.projpage.homeio {
  margin-top: 100px;
  margin-left: -4px;
  padding-top: 0px;
  padding-right: 40px;
  padding-bottom: 0px;
  float: left;
  font-family: 'Roboto Slab', sans-serif;
  color: #333;
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: -1px;
}

.image {
  margin-top: 50px;
  margin-bottom: 90px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  clear: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.image.home {
  margin-top: 50px;
  opacity: 0.7;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image.home:hover {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

.image.home.homeio {
  position: static;
  left: auto;
  top: auto;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
  background-image: none;
  opacity: 0.7;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image.home.homeio:hover {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

.image.home.parkhelper {
  margin-top: 0px;
  margin-bottom: 0px;
}

.image.home.emergencyhousing {
  margin-bottom: 0px;
}

.image.home.finally {
  margin-top: 0px;
  margin-bottom: 0px;
}

.image.projpage {
  width: 760px;
  margin-top: 0px;
  margin-bottom: 160px;
  -webkit-filter: none;
  filter: none;
}

.image.projpage.firstimage {
  width: 760px;
  margin-bottom: 20px;
}

.image.projpage.chart {
  width: 450px;
  margin-top: 20px;
}

.image.projpage.value {
  margin-left: -20px;
}

.image.projpage.emergencyprocess {
  margin-top: 58px;
}

.image.projpage.usertesting {
  margin-top: 40px;
  margin-bottom: 0px;
  float: none;
  clear: none;
}

.projimage {
  display: block;
  width: 850px;
  margin-right: auto;
  margin-left: 0px;
  padding-left: 0px;
  float: left;
}

.projimage.projpage {
  margin-top: -39px;
  margin-bottom: 30px;
  padding-top: 10px;
}

.projimage.projpage.hero {
  width: 800px;
  padding-top: 0px;
  clear: none;
  text-align: center;
}

.projimage.projpage.hero.homeio {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 1200px;
  margin-top: 51px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
  text-align: right;
}

.projimage.projpage.hero.finally {
  width: 650px;
  margin-top: 80px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.projimage.projpage.hero.emergencyhousing {
  margin-top: 0px;
  margin-bottom: 150px;
  margin-left: -48px;
}

.projimage.finally {
  margin-bottom: 140px;
  padding-left: 0px;
}

.footer {
  display: block;
  width: auto;
  height: 150px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  float: none;
  clear: none;
  border-top: 0px solid transparent;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.copyright {
  width: 760px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;
  float: none;
  clear: none;
  border-top: 0px solid #dfdfdf;
  font-family: Roboto, sans-serif;
  color: #bdb9b9;
  font-size: 15px;
  font-weight: 300;
  text-align: right;
  text-transform: none;
}

.socialicon {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 0px;
}

.socialicon:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.socialicon2 {
  margin-right: 20px;
  margin-left: 0px;
  float: right;
}

.socialicon2:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.link-block {
  position: static;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -3px;
  padding-top: 30px;
  float: left;
  clear: none;
}

.link-block.projpage {
  margin-top: 0px;
  padding-top: 245px;
}

.projroles {
  font-family: 'Roboto Condensed', sans-serif;
  color: #bdb9b9;
  line-height: 22px;
  font-weight: 300;
  text-transform: none;
}

.projroles.projpage {
  position: static;
  width: auto;
  margin-top: 0px;
  margin-bottom: 100px;
  padding-top: 105px;
  float: left;
  font-family: 'Roboto Mono', sans-serif;
  color: #9e9e9e;
  font-size: 13px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.role {
  color: #b4b4b4;
  font-weight: 300;
  text-transform: uppercase;
}

.role.bullet {
  color: #000;
  font-weight: 300;
}

.paragraph.projpage {
  margin-bottom: 160px;
  clear: left;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.paragraph.projpage.withimage {
  margin-bottom: 50px;
}

.paragraph.projpage.imageafter {
  width: 760px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 30px;
}

.paragraph.projpage.imageafter.toppadding {
  margin-top: 0px;
  padding-top: 100px;
}

.paragraph.projpage.highlightword {
  color: #000;
  font-weight: 300;
}

.paragraph.projpage.toppadding {
  margin-top: 135px;
}

.paragraph.projpage.projoverview {
  margin-top: 271px;
}

.paragraph.projpage.toppadding2 {
  margin-top: 10px;
}

.paragraph.home {
  float: right;
  clear: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}

.paragraph.home {
  width: 760px;
  margin-bottom: 20px;
  padding-top: 100px;
  float: left;
  clear: left;
  border-top: 0px solid #d6d6d6;
  background-image: none;
  font-family: Roboto, sans-serif;
  color: #ccc;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sectionlabels {
  padding-left: 4px;
  font-family: Roboto, sans-serif;
  color: #bdb9b9;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.sectionlabels.projpage {
  padding-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: #c67d6a;
  font-size: 13px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sectionlabels.projpage.designprocess {
  width: 760px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 100px;
  padding-left: 2px;
  border-top: 0px solid #dfdfdf;
  color: #333;
  line-height: 30px;
}

.projintro {
  float: left;
  font-family: Roboto, sans-serif;
  color: #c67d6a;
  font-size: 18px;
  line-height: 41px;
  font-weight: 300;
}

.projintro.projpage {
  width: auto;
  margin-top: 0px;
  margin-bottom: 150px;
  padding-top: 0px;
  padding-right: 80px;
  padding-left: 0px;
  float: left;
  border-top: 0px solid #dfdfdf;
  font-family: 'Roboto Slab', sans-serif;
  color: #bdb9b9;
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0px;
}

.nextprojectbutton {
  width: 100px;
  margin-right: 0px;
  padding: 40px 0px;
  float: left;
  clear: none;
  border-style: solid;
  border-width: 0px;
  border-color: #dfdfdf #000 #000;
  border-radius: 0px;
  background-color: transparent;
  opacity: 1;
  font-family: 'Roboto Condensed', sans-serif;
  color: #bdb9b9;
  font-size: 18px;
  line-height: 30px;
  font-weight: 100;
  text-align: left;
  letter-spacing: 0.2px;
  text-transform: none;
}

.nextprojectbutton:hover {
  color: #000;
}

.introtext.home {
  width: 600px;
  margin-top: 100px;
  clear: none;
  font-family: Roboto, sans-serif;
  color: #b4b4b4;
  font-size: 16px;
  line-height: 35px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.footercolumn {
  border-top: 1px solid #e2e2e2;
}

.column-1 {
  padding-left: 50px;
}

.column-1.homesections {
  height: 700px;
}

.projsection.home {
  height: 700px;
  border-top: 1px solid #dfdfdf;
  background-image: -webkit-linear-gradient(270deg, #f5f5f7, #f5f5f7);
  background-image: linear-gradient(180deg, #f5f5f7, #f5f5f7);
}

.projsection.projpage {
  float: none;
  background-image: -webkit-linear-gradient(270deg, #f5f5f7, #f5f5f7);
  background-image: linear-gradient(180deg, #f5f5f7, #f5f5f7);
}

.projsection.projpage.brief {
  height: 700px;
  border-top: 1px solid #dfdfdf;
  background-image: -webkit-linear-gradient(270deg, #f5f5f7, #f5f5f7);
  background-image: linear-gradient(180deg, #f5f5f7, #f5f5f7);
}

.projsection.projpage.topborder {
  border-top: 1px solid #dfdfdf;
}

.projsection.projpage.withline.youmightalsolike {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 50px;
}

.column-2 {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-right: 50px;
  border-top: 0px solid #000;
}

.column-2.footercolumn {
  border-top-width: 0px;
  border-top-color: #dfdfdf;
}

.column-2.homesections {
  height: 700px;
}

.columnnopadding {
  padding-right: 0px;
  padding-left: 0px;
}

.youmightalsolike.projpage {
  position: static;
  margin-top: 0px;
  margin-bottom: 60px;
  padding-top: 40px;
  border-top: 0px solid #dfdfdf;
  font-family: 'Roboto Slab', sans-serif;
  color: #bdb9b9;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.projtitle.projpage {
  margin-bottom: 0px;
  padding-bottom: 60px;
  font-family: 'Roboto Slab', sans-serif;
  color: #000;
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
  letter-spacing: 0px;
  text-decoration: none;
}

.projtitle.projpage:hover {
  border-bottom: 0px none #000;
}

.projtitle.projpage.lastone {
  padding-bottom: 180px;
}

.projinfo.projpage {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: #bdb9b9;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.projlink {
  color: #000;
  text-decoration: none;
}

.projlink.projpage:hover {
  border-style: none none solid;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  color: #bdb9b9;
  text-decoration: none;
}

.projlink.projpage:active {
  border-bottom-style: none;
}

.div-block {
  width: 800px;
  border-top: 1px solid #dfdfdf;
}

.name.home {
  margin-top: 100px;
  margin-left: -2px;
  padding-left: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
  text-align: left;
  letter-spacing: -0.2px;
}

.text-span {
  color: #bdb9b9;
}

.text-span-2 {
  color: #bdb9b9;
}

.fullblownimage.projpage {
  width: 1500px;
  margin-right: 40px;
  margin-left: 40px;
  padding-right: 40px;
  float: left;
  clear: left;
}

.fullblownimage.projpage.lastimage {
  margin-bottom: 250px;
}

.fullblownimage.projpage.imageafter {
  margin-bottom: 20px;
}

.homeio.home {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  float: none;
  clear: none;
}

.column-3 {
  padding-left: 50px;
}

.red {
  color: #c67d6a;
  font-weight: 400;
}

.div-block-2 {
  padding-left: 50px;
}

.widescreen {
  display: block;
  width: 100%;
  max-width: 2000px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-linear-gradient(270deg, #f5f5f7, #f5f5f7);
  background-image: linear-gradient(180deg, #f5f5f7, #f5f5f7);
}

html.w-mod-js *[data-ix="landingtextanimation"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="scrollintoview"] {
  opacity: 0;
  -webkit-transform: translate(0px, 80px);
  -ms-transform: translate(0px, 80px);
  transform: translate(0px, 80px);
}

html.w-mod-js *[data-ix="scrollintoview-text"] {
  opacity: 0;
  -webkit-transform: translate(0px, 80px);
  -ms-transform: translate(0px, 80px);
  transform: translate(0px, 80px);
}

