.link {
  font-family: 'Roboto Condensed', sans-serif;
  color: #c67d6a;
  font-size: 18px;
  line-height: 32px;
  font-style: normal;
  font-weight: 300;
  text-decoration: underline;
}

.link.intro {
  border-bottom: 1px dotted #000;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  text-decoration: none;
}

.link.intro:hover {
  border-bottom-color: #bdb9b9;
  color: #bdb9b9;
}

.landingbanner {
  height: 700px;
  float: none;
  clear: none;
  background-image: -webkit-linear-gradient(270deg, #f5f5f7, #f5f5f7);
  background-image: linear-gradient(180deg, #f5f5f7, #f5f5f7);
}

.landingbanner.projpage {
  height: auto;
  background-image: -webkit-linear-gradient(270deg, #f5f5f7, #f5f5f7);
  background-image: linear-gradient(180deg, #f5f5f7, #f5f5f7);
}

.projheading {
  display: block;
  width: 650px;
  margin: 0px auto 5px 0px;
  padding: 10px 0px 20px;
  float: left;
  clear: none;
  border-style: solid;
  border-width: 0px;
  border-color: #e2e2e2 #000 #000;
  font-family: 'Roboto Slab', sans-serif;
  color: #000;
  font-size: 35px;
  line-height: 50px;
  font-weight: 300;
  text-align: left;
  letter-spacing: -0.8px;
  text-transform: none;
}

.projheading.projpage {
  width: 850px;
  margin-top: 50px;
  padding-bottom: 30px;
  color: #000;
  font-size: 35px;
  line-height: 50px;
  font-weight: 300;
}

.projheading.projpage.afterlabel {
  width: 760px;
  margin-top: -20px;
  padding-top: 0px;
  font-size: 35px;
  line-height: 50px;
}

.projheading.home {
  color: #000;
  letter-spacing: -0.5px;
}

.landingtext {
  margin-bottom: 0px;
  margin-left: -9px;
  padding: 170px 0px 0px;
  float: left;
  clear: none;
  font-family: 'Roboto Slab', sans-serif;
  color: hsla(0, 3%, 73%, .4);
  font-size: 65px;
  line-height: 75px;
  font-weight: 300;
  text-align: left;
  letter-spacing: -5px;
  text-transform: none;
}

.landingtext.projpage {
  padding-top: 60px;
  padding-bottom: 50px;
  float: left;
  clear: left;
  font-family: 'Roboto Condensed', sans-serif;
  color: hsla(0, 3%, 73%, .4);
  font-size: 87px;
  line-height: 78px;
  font-weight: 400;
  letter-spacing: -6px;
  text-transform: none;
}

.landingtext.projpage.homeio {
  margin-left: -4px;
  padding-top: 180px;
  padding-right: 40px;
  padding-bottom: 40px;
  float: left;
  font-family: 'Roboto Slab', sans-serif;
  color: #333;
  font-size: 45px;
  line-height: 59px;
  font-weight: 300;
  letter-spacing: -1px;
}

.image {
  margin-top: 50px;
  margin-bottom: 90px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  clear: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.image.home {
  margin-top: 50px;
  opacity: 0.7;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image.home:hover {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

.image.home.homeio {
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 0px;
  padding-left: 0px;
  background-image: none;
}

.image.home.parkhelper {
  margin-top: 0px;
  margin-bottom: 120px;
}

.image.home.finally {
  margin-top: 0px;
  margin-bottom: 120px;
}

.image.projpage {
  width: 760px;
  margin-top: 0px;
  margin-bottom: 120px;
  -webkit-filter: none;
  filter: none;
}

.image.projpage.firstimage {
  width: 760px;
  margin-bottom: 20px;
}

.image.projpage.chart {
  width: 450px;
  margin-top: 20px;
}

.image.projpage.value {
  margin-left: -20px;
}

.image.projpage.emergencyprocess {
  margin-top: -40px;
}

.projimage {
  display: block;
  width: 850px;
  margin-right: auto;
  margin-left: 0px;
  padding-left: 0px;
  float: left;
}

.projimage.projpage {
  margin-top: -39px;
  margin-bottom: 30px;
  padding-top: 10px;
}

.projimage.projpage.hero {
  width: 800px;
  padding-top: 0px;
  clear: none;
  text-align: center;
}

.projimage.projpage.hero.homeio {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 1200px;
  margin-top: 51px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
  text-align: right;
}

.projimage.projpage.hero.finally {
  width: 650px;
  margin-top: 80px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.projimage.projpage.hero.emergencyhousing {
  margin-top: 80px;
  margin-left: -40px;
}

.projimage.finally {
  margin-bottom: 140px;
  padding-left: 0px;
}

.footer {
  display: block;
  width: auto;
  height: 350px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  float: none;
  clear: none;
  border-top: 0px solid #e2e2e2;
  background-image: -webkit-linear-gradient(270deg, #f5f5f7, #f5f5f7);
  background-image: linear-gradient(180deg, #f5f5f7, #f5f5f7);
}

.copyright {
  width: 760px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 255px;
  float: none;
  clear: none;
  border-top: 1px solid #dfdfdf;
  font-family: Roboto, sans-serif;
  color: #bdb9b9;
  font-size: 15px;
  font-weight: 300;
  text-align: right;
  text-transform: none;
}

.socialicon {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 0px;
}

.socialicon:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.socialicon2 {
  margin-right: 20px;
  margin-left: 0px;
  float: right;
}

.socialicon2:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.link-block {
  position: static;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -3px;
  padding-top: 195px;
  float: left;
  clear: none;
}

.link-block.projpage {
  margin-top: 0px;
  padding-top: 245px;
}

.projroles {
  font-family: 'Roboto Condensed', sans-serif;
  color: #bdb9b9;
  line-height: 22px;
  font-weight: 300;
  text-transform: none;
}

.projroles.projpage {
  position: static;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 29px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-transform: none;
}

.role {
  color: #000;
  font-weight: 300;
  text-transform: none;
}

.role.bullet {
  color: #c67d6a;
  font-weight: 400;
}

.paragraph.projpage {
  margin-bottom: 120px;
  clear: left;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.paragraph.projpage.withimage {
  margin-bottom: 50px;
}

.paragraph.projpage.imageafter {
  width: 760px;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 40px;
}

.paragraph.projpage.highlightword {
  color: #000;
  font-weight: 300;
}

.paragraph.home {
  float: right;
  clear: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}

.paragraph.home {
  width: 760px;
  margin-bottom: 20px;
  padding-top: 120px;
  float: left;
  clear: left;
  border-top: 1px solid #e2e2e2;
  background-image: none;
  font-family: Roboto, sans-serif;
  color: #c7c4c4;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sectionlabels {
  padding-left: 4px;
  font-family: Roboto, sans-serif;
  color: #bdb9b9;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.sectionlabels.projpage {
  padding-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: #c67d6a;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sectionlabels.projpage.designprocess {
  width: 760px;
  margin-top: 0px;
  margin-bottom: 100px;
  padding-top: 40px;
  padding-left: 2px;
  border-top: 1px solid #dfdfdf;
  color: #bdb9b9;
}

.projintro {
  float: left;
  font-family: Roboto, sans-serif;
  color: #c67d6a;
  font-size: 18px;
  line-height: 41px;
  font-weight: 300;
}

.projintro.projpage {
  width: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Bitter, serif;
  color: #cac9c9;
  font-size: 32px;
  line-height: 60px;
  font-weight: 400;
  letter-spacing: -1px;
}

.nextprojectbutton {
  width: 100px;
  margin-right: 0px;
  padding: 40px 0px;
  float: left;
  clear: none;
  border-style: solid;
  border-width: 0px;
  border-color: #dfdfdf #000 #000;
  border-radius: 0px;
  background-color: transparent;
  opacity: 1;
  font-family: 'Roboto Condensed', sans-serif;
  color: #bdb9b9;
  font-size: 18px;
  line-height: 30px;
  font-weight: 100;
  text-align: left;
  letter-spacing: 0.2px;
  text-transform: none;
}

.nextprojectbutton:hover {
  color: #000;
}

.introtext.home {
  width: 530px;
  margin-top: 50px;
  clear: none;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 35px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.footercolumn {
  border-top: 1px solid #e2e2e2;
}

.projsection.home {
  background-image: -webkit-linear-gradient(270deg, #f5f5f7, #f5f5f7);
  background-image: linear-gradient(180deg, #f5f5f7, #f5f5f7);
}

.projsection.projpage {
  float: none;
  background-image: -webkit-linear-gradient(270deg, #f5f5f7, #f5f5f7);
  background-image: linear-gradient(180deg, #f5f5f7, #f5f5f7);
}

.column-2 {
  padding-right: 40px;
  border-top: 0px solid #000;
}

.column-2.footercolumn {
  border-top-width: 0px;
  border-top-color: #dfdfdf;
}

.columnnopadding {
  padding-right: 0px;
  padding-left: 0px;
}

.youmightalsolike.projpage {
  position: static;
  margin-top: 120px;
  margin-bottom: 60px;
  padding-top: 10px;
  border-top: 1px solid #dfdfdf;
  font-family: 'Roboto Slab', sans-serif;
  color: #bdb9b9;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.projtitle.projpage {
  margin-bottom: 60px;
  font-family: 'Roboto Slab', sans-serif;
  color: #000;
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
  letter-spacing: 0px;
  text-decoration: none;
}

.projtitle.projpage:hover {
  border-bottom: 0px none #000;
}

.projinfo.projpage {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: #bdb9b9;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.projlink {
  color: #000;
  text-decoration: none;
}

.projlink.projpage:hover {
  border-style: none none solid;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  color: #bdb9b9;
  text-decoration: none;
}

.projlink.projpage:active {
  border-bottom-style: none;
}

.div-block {
  width: 800px;
  border-top: 1px solid #dfdfdf;
}

.name.home {
  margin-top: 250px;
  margin-left: -2px;
  padding-left: 0px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1px;
}

.text-span {
  color: #bdb9b9;
}

.text-span-2 {
  color: #bdb9b9;
}

.fullblownimage.projpage {
  margin-right: 40px;
  margin-left: 40px;
  padding-right: 40px;
}

html.w-mod-js *[data-ix="landingtextanimation"] {
  opacity: 0;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

